.container__big-card {
    width: 600px;
    height: 500px;
    min-width: 600px;
    margin-left: 20px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex;
    justify-content: flex-start;
}

.big-card__picture {
    min-width: 600px
}

.big-card__title {
    font-size: 13px;
    padding: 7px;
    color: white !important;
}

.big-card__description {
    font-size: 12px;
    padding: 7px;
    color: #818589 !important
}