.container__menu__title{
    border: solid white 1.3px;
    border-left: 0px;
    border-right: 0px;

    margin-top: 20px;
    color:white
    
}
.container__menu__title > h1{
    font-size: 135px;
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
}