<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles__main">
        <app-big-card></app-big-card>
    </div>
    <div class="articles__others">

        <app-small-card cardTitleSmallCard="Destaque do mês 🏆" cardDescriptionSmallCard="Como a vencedora do Prêmio de Destaque do Mês, Leticia ganhou o prêmio. Sua liderança sem cargo, abertura à inovação, auto aperfeiçoamento constante e dedicação consistente aos resultados a tornam uma inspiração para todos. Parabéns, Leticia, pelo merecido reconhecimento!"
            photoCoverSmallCard="./assets/leticia_perfil.png">
        </app-small-card>

        <app-small-card cardTitleSmallCard="Prêmio de abelinha do mês 🐝" cardDescriptionSmallCard="
        O ganhador da abelhinha do mês, foi para o João André. Os principais motivos para a escolha de voto de seus colegas foram: o seu notável engajamento, pensamento inovador, disposição para ajudar e foco nas atividades, isso tudo fez com que o ele fosse visto como um verdadeiro promotor da cultura e colaborabor com a nossa equipe. Parabéns, João!"
            photoCoverSmallCard="/assets/joao.png"></app-small-card>

        <app-small-card  class="inovation_award" cardTitleSmallCard="Prêmio de inovação 💡"
            cardDescriptionSmallCard="
        O vencedor do Prêmio de Inovação foi o Giovani. Por sugerir a criação do Aplicativo de Macros, uma solução que permite a instalação individual de macros, eliminando a espera por outros usuários, reduzindo o tempo de execução e permitindo o uso simultâneo do computador, impulsionando a performance e eficiência. Parabéns pela conquista!"
            photoCoverSmallCard="./assets/giovani_perfil (1).png">
        </app-small-card>
    </div>
</div>

<app-footer-bar></app-footer-bar>
<router-outlet><router-outlet>