.container__menu-bar {
    ul {
        display: flex;
        flex-direction: row;
    }
    li{
        
        padding: 30px;
        padding-left: 45px ;
        padding-bottom: 20px;
        list-style: none;
    }

    border: white 2.5px solid;


}
.container__menu-bar {
    display: flex;
    justify-content:center ;
}