.container__menu-bar {
    ul {
        display: flex;
        flex-direction: row;
    }
    li{
        
        padding-top: 25px ;
        padding-left: 45px ;
        padding-bottom: 10px;
        list-style: none;
    }
}
.container__menu-bar {
    display: flex;
    justify-content:center ;
}